{{#> defaultEmail}}
    {{#*inline "content-block"}}
        <div style="margin-bottom: 10px">
            Press below to reset your password:
        </div>
        <div
                style="margin-bottom: 10px"
        >
            <a
                    href="{{resetUrl}}"
            target="_blank"
            class="button"
            >
            <span>Reset password</span>
            </a>
        </div>
        <div style="margin-bottom: 10px">
            If the button doesn't work, you can copy the link below to your browser:
        </div>
        <div>
            <a href="{{resetUrl}}"
            class="link">{{resetUrl}}
            </a>
        </div>
    {{/inline}}
    {{#*inline "email-reason-block"}}
        You are receiving this email because you reset your password.
    {{/inline}}
{{/defaultEmail}}
