{{#> defaultEmail}}
    {{#*inline "content-block"}}
        <div style="margin-bottom: 10px">
            Trykk på knappen under for å nullstille passordet ditt:
        </div>
        <div
                style="margin-bottom: 10px"
        >
            <a
                    href="{{resetUrl}}"
            target="_blank"
            class="button"
            >
            <span>Nullstill passord</span>
            </a>
        </div>
        <div style="margin-bottom: 10px">
            Hvis det ikke funker kan du kopiere linken under inn i nettleseren din:
        </div>
        <div>
            <a href="{{resetUrl}}"
            class="link">{{resetUrl}}
            </a>
        </div>
    {{/inline}}
    {{#*inline "email-reason-block"}}
        Du får denne epost fordi du ba om å få nullstille passordet ditt.
    {{/inline}}
{{/defaultEmail}}
